html, body {
    margin: 0;
    font-family: sans-serif;
    /* background: black;
    color: white; */
    overflow: hidden;
    box-sizing: border-box;
    overscroll-behavior-y: none;
    height: 100%;
}

section {
    padding: 25px;
}

page-component > *:nth-child(2) {
    position: relative;
    overflow: auto;
    overscroll-behavior-y: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
    border-bottom: 1px solid gray;
    z-index: 100;

    background: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
}

nav h2 {
    margin: 0;
    margin-right: 10px;
}

.score {
    position: sticky;
    top: 0;
    padding: 25px;
    /* background: black; */
    background: rgb(237, 237, 237);
    z-index: 100;
}

.score h2 {
    margin: 0;
}

a:visited {
    color: gainsboro;
}

a:active {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    border: 1px solid gainsboro;
    border-bottom: none;
}

li:last-of-type {
    border-bottom: 1px solid gainsboro
}

.grades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grade {
    margin: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: whitesmoke;
    cursor: pointer;
    border-radius: var(--random-percent-1, 94%) var(--random-percent-2, 31%) var(--random-percent-3, 30%) var(--random-percent-4, 67%) / var(--random-percent-5, 67%) var(--random-percent-6, 37%) var(--random-percent-7, 56%) var(--random-percent-8, 34%);
    width: 125px;
    height: 125px;
    background: var(--accent-color);
    color: white; /* var(--text-color); */
    animation: ease-in 2s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);

}

.grade:active {
    filter: brightness(0.5);
}


.grade > * {
    flex-grow: 1;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);

    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.slider::before { 
    content: 'Grade Range: ';
    margin-right: 15px;
    font-weight: bold;
}

.version::before { 
    content: 'App Version: ';
    margin-right: 15px;
    font-weight: bold;
}